
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1, h2{
    color:rgb(80, 80, 80);
}
#topo {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}
section, footer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

